.navbar-form-custom{
	margin: 0px 0px !important;
}

.navbar-form-custom input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
  }

 .navbar-form-custom input[type="text"], .sidebar-form .btn {
    box-shadow: none;
    background-color: rgba(55, 72, 80, 0.46);
    border: 0px solid transparent;
    height: 35px;
}

.navbar-form-custom .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}

.navbar-form-custom input[type="text"], .navbar-form-custom .btn {
    box-shadow: none;
    background-color: rgba(55, 72, 80, 0.46);
    border: 0px solid transparent;
    height: 35px;
}

.navbar-form-custom input[type="text"]:focus, .navbar-form-custom input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666;
}


/*.ci-right{
    padding-right: 42.5px;
}*/
.form-control.ci-addon-input{
    /*padding-right: 0px !important;*/
    padding-left: 32px;
}


// pendiente icon hover color 
.form-control.ci-addon-input:last-child{
    /*border-color: #3c8dbc;*/
    color: #3c8dbc;
    /*box-shadow: none;*/
}

.ci-addon-icon {
    color: #999;
    position: absolute;
    z-index: 2; 
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;    
}

.ci-addon-icon.ci-left {
    top: 25px !important;
    left: 15px !important;  
}

.ci-addon-icon.ci-right{
    top: 25px;
    right: 15px;  
}