/*badges*/
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: help;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-danger {
  background-color: #dd4b39;
}
.badge-danger:hover {
  background-color: #b53e2f;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #00b0a4;
}
.badge-success:hover {
  background-color: #027b73;
}
.badge-info {
  background-color: #0095d8;
}
.badge-info:hover {
  background-color: #0274a7;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}


/*search field navbar*/

.navbar-form-custom{
	margin: 0px 0px !important;
}

.navbar-form-custom input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
  }

 .navbar-form-custom input[type="text"], .sidebar-form .btn {
    box-shadow: none;
    background-color: rgba(55, 72, 80, 0.46);
    border: 0px solid transparent;
    height: 35px;
}

.navbar-form-custom .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}

.navbar-form-custom input[type="text"], .navbar-form-custom .btn {
    box-shadow: none;
    background-color: rgba(55, 72, 80, 0.46);
    border: 0px solid transparent;
    height: 35px;
}

.navbar-form-custom input[type="text"]:focus, .navbar-form-custom input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666;
}


/*.ci-right{
    padding-right: 42.5px;
}*/
.form-control.ci-addon-input{
    /*padding-right: 0px !important;*/
    padding-left: 32px;
}


/*pendiente icon hover color */
.form-control.ci-addon-input:last-child{
    /*border-color: #3c8dbc;*/
    color: #3c8dbc;
    /*box-shadow: none;*/
}

.ci-addon-icon {
    color: #999;
    position: absolute;
    z-index: 2; 
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;    
}

.ci-addon-icon.ci-left {
    top: 25px !important;
    left: 15px !important;  
}

.ci-addon-icon.ci-right{
    top: 25px;
    right: 15px;  
}